{% extends "base.html" %}

{% block content %}
<div class="container" style="color:black; padding: 20px;">
    <h1>Welcome to the Men's Ministry Page</h1>
    <h2>Special events coming up</h2>

    <div class="event-card">
        <p><strong>May 31st, 2026: The Men's Cookout</strong></p>
        <p>Men, join us as we cook out burgers, play corn hole, and spend time in the Word. Sign up at the Greeter Station.</p>
       <img width = "100%" src ="/static/images/MensMinistry/CookoutEvent.jpg" alt="Mens Cookout style="aspect-ratio: 9 / 16;">
    </div>
</div>



{% endblock %}
