{% extends "base.html" %}

{% block content %}
<div style="margin-top: 60px;">
<h1>Senior Adults</h1>
<!--<img src="{{ url_for('static', filename='images\senior_adults\seniorLogo.png') }}" alt="Senior Adults">-->
<h2>Senior Adult Bible Study</strong><br>Join us on Thursday at noon. Bring a bag lunch and your Bible!</h2>
<h2>Date: May 21st</h2>
        <h2>"On Thursday, May 21st the Young @ Heart will go to Polly’s Freeze in Georgetown, IN. We will enjoy lunch and some ice cream. We will meet at the church at 11:30am and carpool. Please let Pastor Kevin know if you plan to attend by Sunday, May 17th"</h2>
</div>
{% endblock %}
